.scoreboard
  background: $white
  border-radius: 32px
  outline: 4px solid $lavender-light
  padding: 16px
  display: flex
  flex-direction: column
  gap: 24px
  @include tablet
    gap: 16px
    border-radius: 24px
  @include mobile
    padding: 16px 12px
    border-radius: 16px

  &__row
    display: flex
    align-items: center
    gap: 8px
    padding: 8px 12px
    border-bottom: 1px solid $lavender-light
    @include mobile
      padding: 8px

    &_current
      background: $lavender

    &Pos
      @include font-styles(14px, 500)
      color: $periwinkle

    &Name
      text-align: left
      flex: 1
      @include font-styles(16px, 500)
      color: $indigo-darkness

    &Val
      @include font-styles(16px, 700)
      color: $indigo-dark

    &Ava
      border-radius: 50%
      width: 40px
      height: 40px
      background: $white
      border: 2px solid $periwinkle
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      @include font-styles(24px, 400, 24px)

// нижняя панель
.bottom
  display: flex
  align-items: center
  justify-content: flex-end
  padding-top: 12px
  border-top: 1px solid #D6E4FF

.waitHint
  font-size: 13px
  color: #8090C0
