.layout
  display: flex
  flex-direction: column
  margin: 0 auto
  max-width: min(1400px, 80vw)
  width: 100%
  padding-top: 70px
  @include tablet
    padding-top: 56px
    max-width: 100%

.layout__main
  padding: 16px 32px
  display: flex
  flex-direction: column
  gap: 40px
  @include tablet
    padding: 16px 16px
  @include mobile
    gap: 24px

.section
  display: flex
  flex-direction: column
  gap: 32px
  &__header
    display: grid
    grid-template-columns: 1fr min-content
    grid-template-rows: min-content min-content
    align-items: center
    justify-content: space-between
  &__title
    color: $indigo-darkness
    @include font-styles(28px, 600, 40px)
    grid-column: span 2

