.btn
  display: flex
  flex-direction: row
  align-items: center
  padding: 12px 24px
  width: fit-content
  border-radius: 8px
  cursor: pointer
  position: relative
  @include font-styles(18px, 400)
  text-transform: uppercase
  @include transitionMixin(background, outline, color, opacity)
  overflow: hidden
  text-decoration: none !important
  text-align: center

  &_dis
    opacity: 0.5
    pointer-events: none !important

  span
    z-index: 10
    @include transitionMixin
    display: flex
    flex-direction: row
    align-items: center
    gap: 4px
    text-align: center
    justify-content: center

    svg
      width: 20px
      height: 20px

  &_reverse span
    flex-direction: row-reverse

  &::after
    content: ''
    width: 10px
    height: 10px
    border-radius: 8px
    position: absolute
    top: 50%
    @include transitionMixin
    left: 50%
    transform: translate(-50%, 100%)

  &_pr
    background: $indigo
    color: $lavender

    &::after
      background: $indigo

  &_sc
    background: $lavender
    color: $indigo

    &::after
      background: transparent

    &::before
      content: ''
      width: 100%
      height: 100%
      border-radius: 8px
      position: absolute
      top: 0
      left: 0
      outline: 2px solid $indigo
      outline-offset: -2px
      z-index: 1

  &_tx
    color: $indigo
    padding: 12px 0
    line-height: 100% !important


@include tablet
  .btn
    display: flex
    flex-direction: row
    align-items: center
    padding: 8px 20px
    @include font-styles(16px, 400, 20px)

    &_tx
      color: $indigo
      padding: 8px 0

@include hover
  .btn:hover::after
    width: 150%
    height: 150%
    transform: translate(-50%, -50%)

  .btn_pr:hover
    color: $white

    &::after
      background: $indigo-dark

  .btn_sc:hover
    color: $indigo-dark
    outline-color: $indigo-dark

    &::after
      background: $white

  .btn_tx:hover
    color: $indigo-dark

    span
      font-weight: 600


.tag
  @include font-styles(20px, 400)
  border-radius: 16px
  padding: 4px 12px
  outline: 1px solid transparent
  outline-offset: -1px
  width: fit-content
  display: flex
  flex-direction: row
  align-items: center
  position: relative
  z-index: 1
  overflow: hidden

  &::before, &::after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: $white
    z-index: -1

  &_easy
    color: $green
    outline-color: $green

    &::after
      background: rgba($green-light, 0.5)

  &_medium
    color: $red-light
    outline-color: $red-light

    &::after
      background: rgba($yellow, 0.5)

  &_hard
    color: $red
    outline-color: $red

    &::after
      background: rgba($red-light, 0.5)

@include tablet
  .tag
    @include font-styles(18px, 400)
    padding: 4px 8px


.rc
  display: flex
  flex-direction: row
  gap: 12px
  padding: 16px
  border-radius: 8px
  outline: 2px solid $lavender-light
  color: $indigo
  outline-offset: -2px
  cursor: pointer
  @include transitionMixin(background, color, outline, font-weight)
  align-items: center

  &__input
    position: absolute
    width: 1px
    height: 1px
    overflow: hidden
    opacity: 0
    clip-path: inset(0 0 0 0)

    &:checked ~ .rc__inputCustom::after
      background: $indigo
      transform: scale(1)


  &__inputCustom
    width: 20px
    height: 20px
    min-width: 20px
    min-height: 20px
    background: $white
    border-radius: 4px
    outline: 2px solid $lavender-light
    @include transitionMixin(outline)
    position: relative

    &::after
      content: ''
      position: absolute
      inset: 3px
      width: 14px
      height: 14px
      background: transparent
      @include transitionMixin(background, transform)
      border-radius: inherit
      transform: scale(0.3)

  &.rc_radio
    .rc__inputCustom
      border-radius: 100%

  &__block
    display: flex
    flex-direction: column
    gap: 4px

  &__text
    @include font-styles(20px, 400)

  &__description
    color: $periwinkle
    @include font-styles(18px, 400)

  &:has(.rc__input:disabled)
    opacity: 0.8
    pointer-events: none

.rc_error
  background: rgba($red-light, 0.3)
  color: $red
  outline-color: $red
  cursor: default
  pointer-events: none

  &:has(.rc__input:disabled)
    opacity: 1

  .rc
    &__inputCustom
      outline: 2px solid $red

    &__input:checked ~ .rc__inputCustom::after
      background: $red

    &__text
      font-weight: 500

    &__description
      color: $red

.rc_correct
  background: rgba($green-light, 0.4)
  color: $green
  outline-color: $green
  cursor: default
  pointer-events: none

  &:has(.rc__input:disabled)
    opacity: 1

  .rc
    &__inputCustom
      outline: 2px solid $green

    &__input:checked ~ .rc__inputCustom::after
      background: $green

    &__text
      font-weight: 500

    &__description
      color: $green

@include tablet
  .rc
    gap: 8px
    padding: 12px

    &__text
      @include font-styles(16px, 400)

    &__description
      color: $periwinkle
      @include font-styles(14px, 400)

    &__inputCustom
      width: 16px
      height: 16px
      min-width: 16px
      min-height: 16px

      &::after
        inset: 2px
        width: 12px
        height: 12px

@include hover
  .rc:hover
    outline-color: $indigo
    color: $indigo-dark
    background: $white

    .rc__inputCustom
      outline-color: $periwinkle

    .rc__input:checked ~ .rc__inputCustom
      outline-color: $indigo


.life
  display: flex
  flex-direction: row
  gap: 6px

  &__item
    width: 20px
    height: 20px
    min-width: 20px
    min-height: 20px
    position: relative

  &__icon_lose
    animation: heartPop 0.7s forwards ease-in-out

@include tablet
  .life
    gap: 4px

@keyframes heartPop
  0%
    transform: scale(1)
  33%
    transform: scale(1.5)
  66%
    transform: scale(0.6)
    opacity: 1
  100%
    transform: scale(1.7)
    opacity: 0

.timer
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 4px
  justify-items: start
  align-items: center
  background: rgba($yellow, 0.5)
  padding: 4px 12px
  @include font-styles(16px, 600)
  color: $red-light
  border-radius: 16px
  width: fit-content
  min-width: 100px
  outline: 1px solid $red-light
  outline-offset: -1px

  &__icon
    width: 16px
    height: 16px
    min-width: 16px
    min-height: 16px
    margin: 4px
    outline: 2px solid $red-light
    outline-offset: 2px
    border-radius: 100%
    position: relative
    justify-self: end

    &::after
      content: ''
      width: 2px
      height: 8px
      background: $red-light
      border-radius: 4px
      position: absolute
      top: 0
      left: 50%
      transform: translate(-50%, 0) rotate(var(--rotate, 360))
      transform-origin: bottom center
      @include transitionMixinLong(transform)


.progress
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  padding: 0 4px

  &__meter
    background-color: $lavender-light
    width: 100%
    height: 8px
    border-radius: 8px
    position: relative
    outline: 2px solid $lavender-light
    outline-offset: -2px

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 8px
      width: var(--w)
      max-width: 100%
      background: $indigo
      border-radius: 8px
      outline: 3px solid $lavender-light
      @include transitionMixin(width)

  &__count
    white-space: nowrap
    @include font-styles(18px, 600)
    color: $indigo-darkness
    min-width: 70px
    text-align: right


.points
  display: flex
  flex-direction: row
  gap: 16px
  align-items: center
  outline: 2px solid $yellow
  border-radius: 16px
  width: fit-content
  padding: 4px 8px
  background: $yellow
  @include font-styles(18px, 600, 18px)
  color: $indigo-darkness
  position: relative
  @include mobile
    @include font-styles(16px, 600, 16px)

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 40px
    background: $white
    border-radius: 16px
    z-index: 0

  &__img
    z-index: 1

  &__add
    color: $indigo
    animation: animAddPoints ease-in 2s forwards
    position: absolute
    right: -8px

@keyframes animAddPoints
  0%
    transform: translate(100%, 120%)
    opacity: 0
  20%
    transform: translate(100%, 0)
    opacity: 1
  80%
    transform: translate(100%, 0)
    opacity: 1
  100%
    transform: translate(100%, -120%)
    opacity: 0

.sound
  display: block
  position: relative
  cursor: pointer
  width: 30px
  height: 30px

  &__icon
    position: absolute
    top: 0
    left: 0
    @include transitionMixin()

  .iconEnter img
    opacity: 0
    transform: scale(0.6) rotate(-60deg)

  .iconEnterActive img
    opacity: 1
    transform: scale(1) rotate(0deg)

  .iconExit img
    opacity: 1
    transform: scale(1) rotate(0deg)

  .iconExitActive img
    opacity: 0
    transform: scale(0.6) rotate(60deg)


.tabs
  background: $lavender
  border: 1px solid $indigo
  border-radius: 12px
  padding: 4px
  position: relative
  display: flex

  &__slider
    position: absolute
    top: 4px
    bottom: 4px
    background: $lavender-light
    border-radius: 8px
    @include transitionMixin()
    z-index: 0
    pointer-events: none
    left: 4px
    width: calc(50% - 4px)

  &__tab
    flex: 1
    padding: 8px 16px
    border: none
    background: transparent
    @include font-styles(18px, 600)
    cursor: pointer
    position: relative
    z-index: 1
    border-radius: 8px
    color: $indigo
    @include transitionMixin(color)
    white-space: nowrap
    @include tablet
      @include font-styles(16px, 600)

    &_active
      color: $indigo-dark
