.card
  padding: 16px
  border-radius: 12px
  outline: 2px solid $periwinkle
  outline-offset: -2px
  background: $white
  display: flex
  flex-direction: column
  gap: 24px
  min-height: 280px
  overflow: hidden
  @include transitionMixin(background, outline)
  z-index: 1
  position: relative

  &::before
    content: ""
    position: absolute
    top: 24px
    left: 24px
    border-radius: 8px
    height: 50px
    width: 50px
    z-index: -1
    background-color: rgba($lavender-light, 0.7)
    @include transitionMixin(width, height, top, left)

  &__title
    @include font-styles(20px, 600)
    color: $indigo-dark
    @include transitionMixin(color)

  &__subtitle
    @include font-styles(16px, 400)
    color: $indigo
    @include transitionMixin(color)

  &__icon
    @include transitionMixin(background, outline)
    outline: 2px solid $periwinkle
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    min-height: 50px
    min-width: 50px
    border-radius: 8px
    background: $white
    @include font-styles(24px)
    position: relative

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__main
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: auto

  &__bottom
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    position: relative
    padding-top: 4px

    &::after
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $lavender
      border-radius: 2px
      height: 2px
      width: 100%
      z-index: 1

    &::before
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $periwinkle
      border-radius: 2px
      height: 2px
      width: 0
      z-index: 2
      @include transitionMixinLong(width, left, right)

  &__count
    display: flex
    flex-direction: column

    &Value
      @include font-styles(36px, 600)
      color: $indigo-dark
      @include transitionMixin(color)

    &Text
      @include font-styles(16px, 400)
      color: $indigo
      @include transitionMixin(color)

@include tablet
  .card
    padding: 12px

    &::before
      top: 20px
      left: 20px

    &__title
      @include font-styles(18px, 600)

    &__subtitle
      @include font-styles(14px, 400)

    &__count
      &Value
        @include font-styles(30px, 600)

      &Text
        @include font-styles(14px, 400)

@include mobile
  .card
    min-height: fit-content

@include hover
  .card:hover
    //background: $lavender-light
    outline-color: $indigo

    &::before
      width: 100%
      height: 100%
      top: 0
      left: 0

    .card
      &__title
        color: $indigo-darkness

      &__subtitle
        color: $indigo-dark

      &__count
        &Value
          color: $indigo-darkness

        &Text
          color: $indigo-dark

      &__bottom
        &::before
          width: 100%
          left: 0
          right: auto

.app
  background: $white
  border-radius: 32px
  outline: 4px solid $lavender-light
  padding: 16px
  display: flex
  flex-direction: column
  gap: 24px

  &__image
    width: 100%
    height: 200px
    object-fit: cover
    border-radius: 16px
    margin-bottom: auto

  &__top
    display: flex
    flex-direction: row
    align-items: center
    gap: 24px

  &__main
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 16px

    &Left
      display: flex
      flex-direction: column
      justify-content: space-between
      overflow: hidden
      gap: 16px

    &Right
      display: flex
      flex-direction: column
      gap: 8px

  &__title
    color: $indigo-darkness
    @include font-styles(24px, 400)

  &__explanation
    padding: 8px
    border-left: 4px solid $indigo
    border-radius: 8px
    background: rgba($lavender-light, 0.7)
    display: flex
    flex-direction: row
    gap: 16px
    align-items: flex-start
    color: $indigo-darkness
    @include font-styles(20px, 400)
    animation: explanationShow 0.5s ease-in forwards

    &Img
      width: 32px
      height: 32px
      object-fit: contain
      transform-origin: bottom left
      transform: rotate(0deg)
      animation: explanationShowImg 1s ease-in forwards 0.4s

  &__bottom
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-top: 8px
    border-top: 2px solid $lavender-light

    &Finish
      display: flex
      flex-direction: row
      gap: 16px
      margin-left: auto

    &Out
      margin-left: auto
      max-width: 150px
      display: flex
      flex-direction: row
      justify-content: flex-end
      overflow: hidden

    &In
      display: flex
      flex-direction: row
      gap: 16px
      width: fit-content
      @include transitionMixin(transform)

      &_slide
        transform: translateX(160px)

@keyframes explanationShow
  0%
    transform: translateY(100%)
  100%
    transform: translateY(0)

@keyframes explanationShowImg
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(-15deg)
  40%
    transform: rotate(20deg)
  60%
    transform: rotate(-10deg)
  80%
    transform: rotate(10deg)
  100%
    transform: rotate(0deg)

.finish
  display: grid
  gap: 12px
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(6, 1fr)

  &__main
    display: flex
    flex-direction: column
    gap: 8px
    justify-content: center
    align-items: center
    outline: 2px solid $indigo-dark
    border-radius: 16px
    padding: 16px
    grid-row: span 3

  &__icon
    @include font-styles(64px, 400)

  &__title
    @include font-styles(22px, 600)
    color: $indigo-dark
    text-align: center

  &__score
    display: flex
    flex-direction: column
    background: $indigo-dark
    padding: 16px
    border-radius: 16px
    grid-row: span 3

    &Title
      @include font-styles(18px, 400)
      color: $white

    &Value
      color: $lavender
      @include font-styles(22px, 400)

      span
        color: $white
        @include font-styles(52px, 700)

  &__count
    display: flex
    flex-direction: row
    gap: 8px
    margin-top: 16px

    &Item
      border-radius: 16px
      padding: 4px 12px
      background: $periwinkle
      outline: 2px solid $lavender-light
      @include font-styles(18px, 400)
      color: $white

  &__stats
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 16px
    border-radius: 16px
    grid-row: span 2
    outline: 2px solid $indigo-dark
    color: $indigo-dark
    background: $lavender
    //&_bg
    //  background: $indigo-dark
    //  color: $white
    //  span
    //    color: $lavender

    &Text
      @include font-styles(20px, 600)

      span
        @include font-styles(36px, 600)
        color: $indigo-darkness


