.card
  padding: 16px
  border-radius: 12px
  outline: 2px solid $periwinkle
  outline-offset: -2px
  background: $white
  display: flex
  flex-direction: column
  gap: 24px
  min-height: 280px
  overflow: hidden
  @include transitionMixin(background, outline)
  z-index: 1
  position: relative

  &::before
    content: ""
    position: absolute
    top: 16px
    left: 16px
    border-radius: 8px
    height: 50px
    width: 50px
    z-index: -1
    background-color: rgba($lavender-light, 0.7)
    @include transitionMixin(width, height, top, left)

  &__title
    @include font-styles(20px, 600)
    color: $indigo-dark
    @include transitionMixin(color)

  &__subtitle
    @include font-styles(16px, 400)
    color: $indigo
    @include transitionMixin(color)

  &__icon
    @include transitionMixin(background, outline)
    outline: 2px solid transparent
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    min-height: 50px
    min-width: 50px
    border-radius: 8px
    background: $lavender-light
    @include font-styles(24px)
    position: relative

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__main
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: auto

  &__bottom
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    position: relative
    padding-top: 4px

    &::after
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $lavender
      border-radius: 2px
      height: 2px
      width: 100%
      z-index: 1

    &::before
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $periwinkle
      border-radius: 2px
      height: 2px
      width: 0
      z-index: 2
      @include transitionMixinLong(width, left, right)

  &__count
    display: flex
    flex-direction: column

    &Value
      @include font-styles(36px, 600)
      color: $indigo-dark
      @include transitionMixin(color)

    &Text
      @include font-styles(16px, 400)
      color: $indigo
      @include transitionMixin(color)

@include tablet
  .card
    padding: 12px
    &::before
      top: 12px
      left: 12px

    &__title
      @include font-styles(18px, 600)

    &__subtitle
      @include font-styles(14px, 400)

    &__count
      &Value
        @include font-styles(30px, 600)

      &Text
        @include font-styles(14px, 400)

@include mobile
  .card
    min-height: fit-content

@include hover
  .card:hover
    //background: $lavender-light
    outline-color: $indigo

    &::before
      width: 100%
      height: 100%
      top: 0
      left: 0

    .card
      &__icon
        background: $white
        outline-color: $periwinkle

      &__title
        color: $indigo-darkness

      &__subtitle
        color: $indigo-dark

      &__count
        &Value
          color: $indigo-darkness

        &Text
          color: $indigo-dark

      &__bottom
        &::before
          width: 100%
          left: 0
          right: auto

.app
  background: $white
  border-radius: 32px
  outline: 4px solid $lavender-light
  padding: 16px
  display: flex
  flex-direction: column
  gap: 24px

  &__top
    display: flex
    flex-direction: row
    align-items: center
    gap: 24px

  &__main
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 16px

    &Right
      display: flex
      flex-direction: column
      gap: 8px

  &__title
    color: $indigo-darkness
    @include font-styles(24px, 400)

  &__bottom
    padding-top: 8px
    border-top: 2px solid $lavender-light

    &Out
      margin-left: auto
      max-width: 150px
      display: flex
      flex-direction: row
      justify-content: flex-end
      overflow: hidden

    &In
      display: flex
      flex-direction: row
      gap: 16px
      width: fit-content
      @include transitionMixin(transform)

      &_slide
        transform: translateX(160px)


