.card
  padding: 16px
  border-radius: 12px
  outline: 2px solid $periwinkle
  outline-offset: -2px
  background: $white
  display: flex
  flex-direction: column
  gap: 24px
  min-height: 280px
  overflow: hidden
  @include transitionMixin(background, outline)
  z-index: 1
  position: relative
  text-decoration: none

  &::before
    content: ""
    position: absolute
    top: 24px
    left: 24px
    border-radius: 8px
    height: 50px
    width: 50px
    z-index: -1
    background-color: rgba($lavender-light, 0.7)
    @include transitionMixin(width, height, top, left)

  &__title
    @include font-styles(20px, 600)
    color: $indigo-dark
    @include transitionMixin(color)

  &__subtitle
    @include font-styles(16px, 400)
    color: $indigo
    @include transitionMixin(color)

  &__icon
    outline: 2px solid $periwinkle
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    min-height: 50px
    min-width: 50px
    border-radius: 8px
    background: $white
    @include font-styles(28px)
    position: relative

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__main
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: auto

  &__bottom
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    position: relative
    padding-top: 4px

    &::after
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $lavender
      border-radius: 2px
      height: 2px
      width: 100%
      z-index: 1

    &::before
      content: ''
      text-align: right
      position: absolute
      top: 0
      right: 0
      background: $periwinkle
      border-radius: 2px
      height: 2px
      width: 0
      z-index: 2
      @include transitionMixinLong(width, left, right)

  &__count
    display: flex
    flex-direction: column

    &Value
      @include font-styles(36px, 600)
      color: $indigo-dark
      @include transitionMixin(color)

    &Text
      @include font-styles(16px, 400)
      color: $indigo
      @include transitionMixin(color)

@include tablet
  .card
    padding: 12px

    &::before
      top: 20px
      left: 20px

    &__title
      @include font-styles(18px, 600)

    &__subtitle
      @include font-styles(14px, 400)

    &__count
      &Value
        @include font-styles(30px, 600)

      &Text
        @include font-styles(14px, 400)

@include mobile
  .card
    min-height: fit-content

@include hover
  .card:hover
    outline-color: $indigo

    &::before
      width: 100%
      height: 100%
      top: 0
      left: 0

    .card
      &__title
        color: $indigo-darkness

      &__subtitle
        color: $indigo-dark

      &__count
        &Value
          color: $indigo-darkness

        &Text
          color: $indigo-dark

      &__bottom
        &::before
          width: 100%
          left: 0
          right: auto

.app
  background: $white
  border-radius: 32px
  outline: 4px solid $lavender-light
  padding: 16px
  display: flex
  flex-direction: column
  gap: 24px
  @include tablet
    gap: 16px
  @include mobile
    padding: 16px 12px

  &__image
    width: 100%
    height: 200px
    object-fit: cover
    border-radius: 16px
    margin-bottom: auto
    @include tablet
      height: 150px
  &__top
    display: flex
    flex-direction: row
    align-items: center
    gap: 24px
    @include mobile
      flex-wrap: wrap
      gap: 8px

  &__main
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 16px
    @include mobile
      grid-template-columns: 1fr
      overflow: hidden

    &Left
      display: flex
      flex-direction: column
      justify-content: space-between
      overflow: hidden
      gap: 16px
      @include mobile
        display: contents

    &Right
      display: flex
      flex-direction: column
      gap: 8px

  &__title
    color: $indigo-darkness
    @include font-styles(24px, 400)
    @include tablet
      @include font-styles(20px, 400)

  &__explanation
    padding: 8px
    border-left: 4px solid $indigo
    border-radius: 8px
    background: rgba($lavender-light, 0.7)
    display: flex
    flex-direction: row
    gap: 16px
    align-items: flex-start
    color: $indigo-darkness
    @include font-styles(20px, 400)
    animation: explanationShow 0.5s ease-in forwards
    @include tablet
      @include font-styles(16px, 400)
      gap: 8px
    @include mobile
      order: 1

    &Img
      width: 32px
      height: 32px
      min-width: 32px
      min-height: 32px
      object-fit: contain
      transform-origin: bottom left
      transform: rotate(0deg)
      animation: explanationShowImg 1s ease-in forwards 0.4s
      @include tablet
        width: 24px
        height: 24px
        min-width: 24px
        min-height: 24px

  &__bottom
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding-top: 8px
    border-top: 2px solid $lavender-light

    &Finish
      display: flex
      flex-direction: row
      gap: 16px
      margin-left: auto
      @include mobile
        flex-direction: column
        margin: 0
        width: 100%
        gap: 8px
        *
          width: 100%

    &Out
      margin-left: auto
      max-width: 150px
      display: flex
      flex-direction: row
      justify-content: flex-end
      overflow: hidden
      @include tablet
        max-width: 126px

    &In
      display: flex
      flex-direction: row
      gap: 16px
      width: fit-content
      @include transitionMixin(transform)

      &_slide
        transform: translateX(160px)
        @include tablet
          transform: translateX(142px)

@keyframes explanationShow
  0%
    transform: translateY(100%)
  100%
    transform: translateY(0)

@keyframes explanationShowImg
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(-15deg)
  40%
    transform: rotate(20deg)
  60%
    transform: rotate(-10deg)
  80%
    transform: rotate(10deg)
  100%
    transform: rotate(0deg)

.finish
  display: grid
  gap: 12px
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(6, 1fr)
  @include mobile
    display: flex
    flex-direction: column
    gap: 8px
  &__lifes
    grid-column: span 2
    outline: 2px solid $crimson
    border-radius: 16px
    padding: 16px
    @include font-styles(22px, 600)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    order: 3
    background: rgba($crimson, 0.2)
    color: $indigo-darkness
    text-align: center
    @include tablet
      @include font-styles(18px, 600)
      padding: 12px
    @include mobile
      @include font-styles(16px, 600)
      padding: 8px
      order: 0


  &__main
    display: flex
    flex-direction: column
    gap: 8px
    justify-content: center
    align-items: center
    outline: 2px solid $indigo-dark
    border-radius: 16px
    padding: 16px
    grid-row: span 3
    @include mobile
      order: 1
      flex-direction: row
      padding: 12px

  &__icon
    @include font-styles(64px, 400)
    @include tablet
      @include font-styles(46px, 600)

  &__title
    @include font-styles(22px, 600)
    color: $indigo-dark
    text-align: center
    @include tablet
      @include font-styles(18px, 600)

  &__score
    display: flex
    flex-direction: column
    background: $indigo-dark
    outline: 2px solid $indigo-dark
    padding: 16px
    border-radius: 16px
    grid-row: span 3
    @include mobile
      display: grid
      justify-items: center
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, min-content)
      align-items: center
      height: fit-content
      padding: 12px
      gap: 4px
    &Title
      @include font-styles(18px, 400)
      color: $white
      @include tablet
        @include font-styles(14px, 400)
      @include mobile
        order: 1
    &Value
      color: $lavender
      @include font-styles(22px, 400)
      @include tablet
        @include font-styles(18px, 400)
      @include mobile
        order: 3
      span
        color: $white
        @include font-styles(52px, 700)
        @include tablet
          @include font-styles(32px, 700)
  &__count
    display: flex
    flex-direction: row
    gap: 8px
    margin-top: 16px
    @include tablet
      margin-top: 8px
    @include mobile
      grid-row: span 2
      order: 2
      flex-direction: column
      margin-top: 0

    &Item
      border-radius: 16px
      padding: 4px 12px
      background: $periwinkle
      outline: 2px solid $lavender-light
      @include font-styles(18px, 400, 18px)
      color: $white
      @include tablet
        padding: 4px 8px
        @include font-styles(16px, 400, 16px)
      @include mobile
        text-align: center
        border-radius: 8px
        @include font-styles(14px, 400, 14px)
  &__stats
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 16px
    border-radius: 16px
    grid-row: span 2
    gap: 8px
    outline: 2px solid $indigo-dark
    color: $indigo-dark
    background: $lavender
    @include mobile
      order: 2
      padding: 12px

    &Text
      @include font-styles(20px, 600)
      @include tablet
        @include font-styles(16px, 600)

      span
        @include font-styles(36px, 600)
        color: $indigo-darkness
        @include tablet
          @include font-styles(28px, 600)

