$white: #FFFFFF
$indigo: #4F46E5
$green: #06754d
$mint: #C8F0E2
$red: #cc1818
$peach: #FCE0D6
$periwinkle: #928bf3
$lavender: #EDEAFF
$yellow: #f5be0b
$crimson: #E8467A
$indigo-dark: #3730C4
$green-light: #12C47F
$red-light: #f24730
$lavender-light: #CEC8FF
$indigo-darkness: #120F66
