$white:           #EAF0FF
$indigo:          #3B52F0
$green:           #06754d
$mint:            #C8F0E2
$red:             #cc1818
$peach:           #FCE0D6
$periwinkle:      #5068F7
$lavender:        #D6E4FF
$yellow:          #f5be0b
$crimson:         #E8467A
$indigo-dark:     #2238CC
$green-light:     #12C47F
$red-light:       #f24730
$lavender-light:  #A0B4FF
$indigo-darkness: #060A4A
